
<nav>
  <div class="nav-wrapper orange darken-3">
    <div class="col s12">
     <% breadcrumbs.forEach((breadcrumb)=>{ %>
       <a href="<%= breadcrumb.url%>" target="_self" class="breadcrumb"><%= breadcrumb.teks%></a>
     <%});%>
    </div>
  </div>
</nav>
