<footer class="page-footer blue-grey darken-4">

   <div class="footer-copyright">
     <div class="container">
     © 2017 ppsari - hakiemaul
     <a class="grey-text text-lighten-4 right" href="https://github.com/ppsari/sport_finder">See Us On Github</a>
     </div>
   </div>
 </footer>

 <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
 <link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

 <script type="text/javascript">
  $(document).ready(function() {
  	$('table').DataTable({
  		recordsDisplay:15,
  		length: 11,
  		lengthMenu: [[10, 25, -1], [10, 25, "All"]]
  	});
  	$('[name=DataTables_Table_0_length]').attr('style','display:inline; float:left');
  } );
</script>



