<nav>
   <div class="nav-wrapper blue-grey darken-4">
     <a href="/" class="brand-logo">Sport Finder</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/admin/venue">Admin Menu</a></li>
     </ul>
   </div>
 </nav>
 <% if ( typeof(breadcrumbs) != 'undefined') { %>
 <%- include breadcrumbs.ejs %>
 <% } %>