<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <%- include partials/header.ejs %>
    <h1>Title</h1>
    <div class="container">

    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
