<!DOCTYPE html>
<html>
  <head>
    <title>Create Venue</title>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <%- include partials/header.ejs %>
    <div class="container">
      <h1>Insert Venue</h1>
      <form class="col s12" action="/admin/venue/insert" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input name="name" id="name" type="text" required>
            <label for="name">Venue Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="address" id="address" type="text" required>
            <label for="address">Address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="location" id="location" type="text" required>
            <label for="location">Location</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="contact" id="contact" type="text" required>
            <label for="contact">Contact</label>
          </div>
        </div>
        <div class="row center-align">
          <button type="submit" class="btn waves-effect waves-light"/>Create</button>
        </div>
      </form>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
