body {
  font-family: 'Oswald', sans-serif;
  /*text-transform: uppercase;*/
}
h1 {
  text-transform: uppercase;
}
p {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.material-icons {
  color:"orangered" !important;
}

.btn {
  background-color:"orangered"!important;
}
.iris {
    background-image: url("/images/jumbotron.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.nav-wrapper img {
  height: 64px;
}