body {
  font-family: 'Oswald', sans-serif;
  /*text-transform: uppercase;*/
}

a {
  color: #00B7FF;
}

.iris {
    background-image: url("/images/jumbotron.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.nav-wrapper img {
  height: 64px;
}